* 
{
	padding : 0px;
	margin : 0px;
}
/* 	#######  Header ######## */
header
{
	padding :0px;
	margin:0px;
}
header h3
{
	text-align : Center;
	text-align : Center;
	font-weight : bold;
}

/* 	#######  Navigation  ######## */

.navbar-default {
  background-color: #000000;
  border-color: #e7e7e7;
}

/* 	#######  Corps du site ######## */

#principal
{
	margin:1% 15%;
}

#loginUser
{
	margin:1% 15%;
}

#loginUser p
{
	border:1px solid black;
	margin:0% 30%;
	border-radius: 3px;
	padding: 2%;
}

#createEvent
{
	margin:1% 15%;
}

#createEvent p, #editEvent
{
	border:1px solid black;
	margin:0% 30%;
	border-radius: 3px;
	padding: 2%;
}

#createUser
{
	margin:1% 15%;
}

#createUser p
{
	border:1px solid black;
	margin:0% 30%;
	border-radius: 3px;
	padding: 2%;
}

input
{
	float : right;
	border : 1px;
	
}


/* 	#######  footer ######## */

footer p
{
	text-align : center;
	margin-left:auto;
	margin-right:auto;
}
}
