* 
{
	padding : 0px;
	margin : 0px;
}
/* 	#######  Header ######## */
header
{
	padding :0px;
	margin:0px;
}
header h1
{
	font-size:34px;
	text-align : Center;
}
header p
{
	text-align : Center;
}
/* 	#######  Navigation  ######## */
nav 
{
	width:70%;
	height:5%;
	background-color : #D3EDED;
	margin:1% 15%;
	border-radius: 3px;
}
nav li
{
	display :inline;
	border: 1px solid black;
	margin:0% 8%;
	backgrounc-color : #8DC0C0;
}

nav li .button 
{
	backgrounc-color : #8DC0C0;
}
/* 	#######  Corps du site ######## */

#principal
{
	margin:1% 15%;
}

#loginUser
{
	margin:1% 15%;
}

#loginUser p
{
	border:1px solid black;
	margin:0% 30%;
	border-radius: 3px;
	padding: 2%;
}

#createEvent
{
	margin:1% 15%;
}

#createEvent p
{
	border:1px solid black;
	margin:0% 30%;
	border-radius: 3px;
	padding: 2%;
}

#createUser
{
	margin:1% 15%;
}

#createUser p
{
	border:1px solid black;
	margin:0% 30%;
	border-radius: 3px;
	padding: 2%;
}


/* 	#######  footer ######## */
